extends layout

block content
 h1= title

 if (toShow == null)
  h2 No instance to delete
 else
  - let JellyBellyid = toShow._id
  - let JellyBelly = toShow.JellyBelly
  - let JellyBellycost = toShow.cost
  - let JellyBellysize = toShow.size
  - let actionid = "/resource/JellyBelly/" + JellyBellyid
  script let actionid = "#{actionid}"
  div
    div.row
     div(class='JellyBellyAttr mr-3') JellyBelly ID is:
     div #{JellyBellyid}
    div.row
     div(class='JellyBellyAttr mr-3') JellyBelly Type is:
     div #{JellyBelly}
    div.row
     div(class='JellyBellyAttr mr-3') JellyBelly Size is:
     div #{JellyBellysize}
    div.row
     div(class='JellyBellyAttr mr-3') JellyBelly Cost is:
     div #{JellyBellycost}
 
  button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
  button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
  
 script.
  function cancel() {
     // Go back to the home page for the JellyBelly collection
     window.location.href='/JellyBelly'
  }
 script.
  function deleteOnid() {
     console.log("starting delete")
     // delete first
      fetch(actionid, {
      method: 'DELETE' // Don't need a body for the delete
     }).then((resp) => {
      return resp.json(); // or resp.text() or whatever the server sends
     }).then((body) => {
      alert("Delete succeded")
      window.location.href='/JellyBelly'
      // TODO handle body
     }).catch((error) => {
      // TODO handle error
      alert("Delete failed " + error )
     });
    }